<div>
  <select [(ngModel)]="routeToNavigateTo" style="padding: 4px;  margin: 4px; border: 1px solid gray; border-radius: 1em;">
    <option value="">Select Route to navigate to</option>
    <!-- OPTIONS --><option value="lib701">lib701</option>
<option value="lib702">lib702</option>
<option value="lib703">lib703</option>
<option value="lib704">lib704</option>
<option value="lib705">lib705</option>
<option value="lib706">lib706</option>
<option value="lib707">lib707</option>
<option value="lib708">lib708</option>
<option value="lib709">lib709</option>
<option value="lib710">lib710</option>
<option value="lib711">lib711</option>
<option value="lib712">lib712</option>
<option value="lib713">lib713</option>
<option value="lib714">lib714</option>
<option value="lib715">lib715</option>
<option value="lib716">lib716</option>
<option value="lib717">lib717</option>
<option value="lib718">lib718</option>
<option value="lib719">lib719</option>
<option value="lib720">lib720</option>
<option value="lib721">lib721</option>
<option value="lib722">lib722</option>
<option value="lib723">lib723</option>
<option value="lib724">lib724</option>
<option value="lib725">lib725</option>
<option value="lib726">lib726</option>
<option value="lib727">lib727</option>
<option value="lib728">lib728</option>
<option value="lib729">lib729</option>
<option value="lib730">lib730</option>
<option value="lib731">lib731</option>
<option value="lib732">lib732</option>
<option value="lib733">lib733</option>
<option value="lib734">lib734</option>
<option value="lib735">lib735</option>
<option value="lib736">lib736</option>
<option value="lib737">lib737</option>
<option value="lib738">lib738</option>
<option value="lib739">lib739</option>
<option value="lib740">lib740</option>
<option value="lib741">lib741</option>
<option value="lib742">lib742</option>
<option value="lib743">lib743</option>
<option value="lib744">lib744</option>
<option value="lib745">lib745</option>
<option value="lib746">lib746</option>
<option value="lib747">lib747</option>
<option value="lib748">lib748</option>
<option value="lib749">lib749</option>
<option value="lib750">lib750</option>
<option value="lib751">lib751</option>
<option value="lib752">lib752</option>
<option value="lib753">lib753</option>
<option value="lib754">lib754</option>
<option value="lib755">lib755</option>
<option value="lib756">lib756</option>
<option value="lib757">lib757</option>
<option value="lib758">lib758</option>
<option value="lib759">lib759</option>
<option value="lib760">lib760</option>
<option value="lib761">lib761</option>
<option value="lib762">lib762</option>
<option value="lib763">lib763</option>
<option value="lib764">lib764</option>
<option value="lib765">lib765</option>
<option value="lib766">lib766</option>
<option value="lib767">lib767</option>
<option value="lib768">lib768</option>
<option value="lib769">lib769</option>
<option value="lib770">lib770</option>
<option value="lib771">lib771</option>
<option value="lib772">lib772</option>
<option value="lib773">lib773</option>
<option value="lib774">lib774</option>
<option value="lib775">lib775</option>
<option value="lib776">lib776</option>
<option value="lib777">lib777</option>
<option value="lib778">lib778</option>
<option value="lib779">lib779</option>
<option value="lib780">lib780</option>
<option value="lib781">lib781</option>
<option value="lib782">lib782</option>
<option value="lib783">lib783</option>
<option value="lib784">lib784</option>
<option value="lib785">lib785</option>
<option value="lib786">lib786</option>
<option value="lib787">lib787</option>
<option value="lib788">lib788</option>
<option value="lib789">lib789</option>
<option value="lib790">lib790</option>
<option value="lib791">lib791</option>
<option value="lib792">lib792</option>
<option value="lib793">lib793</option>
<option value="lib794">lib794</option>
<option value="lib795">lib795</option>
<option value="lib796">lib796</option>
<option value="lib797">lib797</option>
<option value="lib798">lib798</option>
<option value="lib799">lib799</option>
<option value="lib800">lib800</option>
<option value="lib101">lib101</option>
<option value="lib102">lib102</option>
<option value="lib103">lib103</option>
<option value="lib104">lib104</option>
<option value="lib105">lib105</option>
<option value="lib106">lib106</option>
<option value="lib107">lib107</option>
<option value="lib108">lib108</option>
<option value="lib109">lib109</option>
<option value="lib110">lib110</option>
<option value="lib111">lib111</option>
<option value="lib112">lib112</option>
<option value="lib113">lib113</option>
<option value="lib114">lib114</option>
<option value="lib115">lib115</option>
<option value="lib116">lib116</option>
<option value="lib117">lib117</option>
<option value="lib118">lib118</option>
<option value="lib119">lib119</option>
<option value="lib120">lib120</option>
<option value="lib121">lib121</option>
<option value="lib122">lib122</option>
<option value="lib123">lib123</option>
<option value="lib124">lib124</option>
<option value="lib125">lib125</option>
<option value="lib126">lib126</option>
<option value="lib127">lib127</option>
<option value="lib128">lib128</option>
<option value="lib129">lib129</option>
<option value="lib130">lib130</option>
<option value="lib131">lib131</option>
<option value="lib132">lib132</option>
<option value="lib133">lib133</option>
<option value="lib134">lib134</option>
<option value="lib135">lib135</option>
<option value="lib136">lib136</option>
<option value="lib137">lib137</option>
<option value="lib138">lib138</option>
<option value="lib139">lib139</option>
<option value="lib140">lib140</option>
<option value="lib141">lib141</option>
<option value="lib142">lib142</option>
<option value="lib143">lib143</option>
<option value="lib144">lib144</option>
<option value="lib145">lib145</option>
<option value="lib146">lib146</option>
<option value="lib147">lib147</option>
<option value="lib148">lib148</option>
<option value="lib149">lib149</option>
<option value="lib150">lib150</option>
<option value="lib151">lib151</option>
<option value="lib152">lib152</option>
<option value="lib153">lib153</option>
<option value="lib154">lib154</option>
<option value="lib155">lib155</option>
<option value="lib156">lib156</option>
<option value="lib157">lib157</option>
<option value="lib158">lib158</option>
<option value="lib159">lib159</option>
<option value="lib160">lib160</option>
<option value="lib161">lib161</option>
<option value="lib162">lib162</option>
<option value="lib163">lib163</option>
<option value="lib164">lib164</option>
<option value="lib165">lib165</option>
<option value="lib166">lib166</option>
<option value="lib167">lib167</option>
<option value="lib168">lib168</option>
<option value="lib169">lib169</option>
<option value="lib170">lib170</option>
<option value="lib171">lib171</option>
<option value="lib172">lib172</option>
<option value="lib173">lib173</option>
<option value="lib174">lib174</option>
<option value="lib175">lib175</option>
<option value="lib176">lib176</option>
<option value="lib177">lib177</option>
<option value="lib178">lib178</option>
<option value="lib179">lib179</option>
<option value="lib180">lib180</option>
<option value="lib181">lib181</option>
<option value="lib182">lib182</option>
<option value="lib183">lib183</option>
<option value="lib184">lib184</option>
<option value="lib185">lib185</option>
<option value="lib186">lib186</option>
<option value="lib187">lib187</option>
<option value="lib188">lib188</option>
<option value="lib189">lib189</option>
<option value="lib190">lib190</option>
<option value="lib191">lib191</option>
<option value="lib192">lib192</option>
<option value="lib193">lib193</option>
<option value="lib194">lib194</option>
<option value="lib195">lib195</option>
<option value="lib196">lib196</option>
<option value="lib197">lib197</option>
<option value="lib198">lib198</option>
<option value="lib199">lib199</option>
<option value="lib200">lib200</option>
<option value="lib201">lib201</option>
<option value="lib202">lib202</option>
<option value="lib203">lib203</option>
<option value="lib204">lib204</option>
<option value="lib205">lib205</option>
<option value="lib206">lib206</option>
<option value="lib207">lib207</option>
<option value="lib208">lib208</option>
<option value="lib209">lib209</option>
<option value="lib210">lib210</option>
<option value="lib211">lib211</option>
<option value="lib212">lib212</option>
<option value="lib213">lib213</option>
<option value="lib214">lib214</option>
<option value="lib215">lib215</option>
<option value="lib216">lib216</option>
<option value="lib217">lib217</option>
<option value="lib218">lib218</option>
<option value="lib219">lib219</option>
<option value="lib220">lib220</option>
<option value="lib221">lib221</option>
<option value="lib222">lib222</option>
<option value="lib223">lib223</option>
<option value="lib224">lib224</option>
<option value="lib225">lib225</option>
<option value="lib226">lib226</option>
<option value="lib227">lib227</option>
<option value="lib228">lib228</option>
<option value="lib229">lib229</option>
<option value="lib230">lib230</option>
<option value="lib231">lib231</option>
<option value="lib232">lib232</option>
<option value="lib233">lib233</option>
<option value="lib234">lib234</option>
<option value="lib235">lib235</option>
<option value="lib236">lib236</option>
<option value="lib237">lib237</option>
<option value="lib238">lib238</option>
<option value="lib239">lib239</option>
<option value="lib240">lib240</option>
<option value="lib241">lib241</option>
<option value="lib242">lib242</option>
<option value="lib243">lib243</option>
<option value="lib244">lib244</option>
<option value="lib245">lib245</option>
<option value="lib246">lib246</option>
<option value="lib247">lib247</option>
<option value="lib248">lib248</option>
<option value="lib249">lib249</option>
<option value="lib250">lib250</option>
<option value="lib251">lib251</option>
<option value="lib252">lib252</option>
<option value="lib253">lib253</option>
<option value="lib254">lib254</option>
<option value="lib255">lib255</option>
<option value="lib256">lib256</option>
<option value="lib257">lib257</option>
<option value="lib258">lib258</option>
<option value="lib259">lib259</option>
<option value="lib260">lib260</option>
<option value="lib261">lib261</option>
<option value="lib262">lib262</option>
<option value="lib263">lib263</option>
<option value="lib264">lib264</option>
<option value="lib265">lib265</option>
<option value="lib266">lib266</option>
<option value="lib267">lib267</option>
<option value="lib268">lib268</option>
<option value="lib269">lib269</option>
<option value="lib270">lib270</option>
<option value="lib271">lib271</option>
<option value="lib272">lib272</option>
<option value="lib273">lib273</option>
<option value="lib274">lib274</option>
<option value="lib275">lib275</option>
<option value="lib276">lib276</option>
<option value="lib277">lib277</option>
<option value="lib278">lib278</option>
<option value="lib279">lib279</option>
<option value="lib280">lib280</option>
<option value="lib281">lib281</option>
<option value="lib282">lib282</option>
<option value="lib283">lib283</option>
<option value="lib284">lib284</option>
<option value="lib285">lib285</option>
<option value="lib286">lib286</option>
<option value="lib287">lib287</option>
<option value="lib288">lib288</option>
<option value="lib289">lib289</option>
<option value="lib290">lib290</option>
<option value="lib291">lib291</option>
<option value="lib292">lib292</option>
<option value="lib293">lib293</option>
<option value="lib294">lib294</option>
<option value="lib295">lib295</option>
<option value="lib296">lib296</option>
<option value="lib297">lib297</option>
<option value="lib298">lib298</option>
<option value="lib299">lib299</option>
<option value="lib300">lib300</option>
<option value="lib301">lib301</option>
<option value="lib302">lib302</option>
<option value="lib303">lib303</option>
<option value="lib304">lib304</option>
<option value="lib305">lib305</option>
<option value="lib306">lib306</option>
<option value="lib307">lib307</option>
<option value="lib308">lib308</option>
<option value="lib309">lib309</option>
<option value="lib310">lib310</option>
<option value="lib311">lib311</option>
<option value="lib312">lib312</option>
<option value="lib313">lib313</option>
<option value="lib314">lib314</option>
<option value="lib315">lib315</option>
<option value="lib316">lib316</option>
<option value="lib317">lib317</option>
<option value="lib318">lib318</option>
<option value="lib319">lib319</option>
<option value="lib320">lib320</option>
<option value="lib321">lib321</option>
<option value="lib322">lib322</option>
<option value="lib323">lib323</option>
<option value="lib324">lib324</option>
<option value="lib325">lib325</option>
<option value="lib326">lib326</option>
<option value="lib327">lib327</option>
<option value="lib328">lib328</option>
<option value="lib329">lib329</option>
<option value="lib330">lib330</option>
<option value="lib331">lib331</option>
<option value="lib332">lib332</option>
<option value="lib333">lib333</option>
<option value="lib334">lib334</option>
<option value="lib335">lib335</option>
<option value="lib336">lib336</option>
<option value="lib337">lib337</option>
<option value="lib338">lib338</option>
<option value="lib339">lib339</option>
<option value="lib340">lib340</option>
<option value="lib341">lib341</option>
<option value="lib342">lib342</option>
<option value="lib343">lib343</option>
<option value="lib344">lib344</option>
<option value="lib345">lib345</option>
<option value="lib346">lib346</option>
<option value="lib347">lib347</option>
<option value="lib348">lib348</option>
<option value="lib349">lib349</option>
<option value="lib350">lib350</option>
<option value="lib351">lib351</option>
<option value="lib352">lib352</option>
<option value="lib353">lib353</option>
<option value="lib354">lib354</option>
<option value="lib355">lib355</option>
<option value="lib356">lib356</option>
<option value="lib357">lib357</option>
<option value="lib358">lib358</option>
<option value="lib359">lib359</option>
<option value="lib360">lib360</option>
<option value="lib361">lib361</option>
<option value="lib362">lib362</option>
<option value="lib363">lib363</option>
<option value="lib364">lib364</option>
<option value="lib365">lib365</option>
<option value="lib366">lib366</option>
<option value="lib367">lib367</option>
<option value="lib368">lib368</option>
<option value="lib369">lib369</option>
<option value="lib370">lib370</option>
<option value="lib371">lib371</option>
<option value="lib372">lib372</option>
<option value="lib373">lib373</option>
<option value="lib374">lib374</option>
<option value="lib375">lib375</option>
<option value="lib376">lib376</option>
<option value="lib377">lib377</option>
<option value="lib378">lib378</option>
<option value="lib379">lib379</option>
<option value="lib380">lib380</option>
<option value="lib381">lib381</option>
<option value="lib382">lib382</option>
<option value="lib383">lib383</option>
<option value="lib384">lib384</option>
<option value="lib385">lib385</option>
<option value="lib386">lib386</option>
<option value="lib387">lib387</option>
<option value="lib388">lib388</option>
<option value="lib389">lib389</option>
<option value="lib390">lib390</option>
<option value="lib391">lib391</option>
<option value="lib392">lib392</option>
<option value="lib393">lib393</option>
<option value="lib394">lib394</option>
<option value="lib395">lib395</option>
<option value="lib396">lib396</option>
<option value="lib397">lib397</option>
<option value="lib398">lib398</option>
<option value="lib399">lib399</option>
<option value="lib400">lib400</option>
<option value="lib401">lib401</option>
<option value="lib402">lib402</option>
<option value="lib403">lib403</option>
<option value="lib404">lib404</option>
<option value="lib405">lib405</option>
<option value="lib406">lib406</option>
<option value="lib407">lib407</option>
<option value="lib408">lib408</option>
<option value="lib409">lib409</option>
<option value="lib410">lib410</option>
<option value="lib411">lib411</option>
<option value="lib412">lib412</option>
<option value="lib413">lib413</option>
<option value="lib414">lib414</option>
<option value="lib415">lib415</option>
<option value="lib416">lib416</option>
<option value="lib417">lib417</option>
<option value="lib418">lib418</option>
<option value="lib419">lib419</option>
<option value="lib420">lib420</option>
<option value="lib421">lib421</option>
<option value="lib422">lib422</option>
<option value="lib423">lib423</option>
<option value="lib424">lib424</option>
<option value="lib425">lib425</option>
<option value="lib426">lib426</option>
<option value="lib427">lib427</option>
<option value="lib428">lib428</option>
<option value="lib429">lib429</option>
<option value="lib430">lib430</option>
<option value="lib431">lib431</option>
<option value="lib432">lib432</option>
<option value="lib433">lib433</option>
<option value="lib434">lib434</option>
<option value="lib435">lib435</option>
<option value="lib436">lib436</option>
<option value="lib437">lib437</option>
<option value="lib438">lib438</option>
<option value="lib439">lib439</option>
<option value="lib440">lib440</option>
<option value="lib441">lib441</option>
<option value="lib442">lib442</option>
<option value="lib443">lib443</option>
<option value="lib444">lib444</option>
<option value="lib445">lib445</option>
<option value="lib446">lib446</option>
<option value="lib447">lib447</option>
<option value="lib448">lib448</option>
<option value="lib449">lib449</option>
<option value="lib450">lib450</option>
<option value="lib451">lib451</option>
<option value="lib452">lib452</option>
<option value="lib453">lib453</option>
<option value="lib454">lib454</option>
<option value="lib455">lib455</option>
<option value="lib456">lib456</option>
<option value="lib457">lib457</option>
<option value="lib458">lib458</option>
<option value="lib459">lib459</option>
<option value="lib460">lib460</option>
<option value="lib461">lib461</option>
<option value="lib462">lib462</option>
<option value="lib463">lib463</option>
<option value="lib464">lib464</option>
<option value="lib465">lib465</option>
<option value="lib466">lib466</option>
<option value="lib467">lib467</option>
<option value="lib468">lib468</option>
<option value="lib469">lib469</option>
<option value="lib470">lib470</option>
<option value="lib471">lib471</option>
<option value="lib472">lib472</option>
<option value="lib473">lib473</option>
<option value="lib474">lib474</option>
<option value="lib475">lib475</option>
<option value="lib476">lib476</option>
<option value="lib477">lib477</option>
<option value="lib478">lib478</option>
<option value="lib479">lib479</option>
<option value="lib480">lib480</option>
<option value="lib481">lib481</option>
<option value="lib482">lib482</option>
<option value="lib483">lib483</option>
<option value="lib484">lib484</option>
<option value="lib485">lib485</option>
<option value="lib486">lib486</option>
<option value="lib487">lib487</option>
<option value="lib488">lib488</option>
<option value="lib489">lib489</option>
<option value="lib490">lib490</option>
<option value="lib491">lib491</option>
<option value="lib492">lib492</option>
<option value="lib493">lib493</option>
<option value="lib494">lib494</option>
<option value="lib495">lib495</option>
<option value="lib496">lib496</option>
<option value="lib497">lib497</option>
<option value="lib498">lib498</option>
<option value="lib499">lib499</option>
<option value="lib500">lib500</option>
<option value="lib501">lib501</option>
<option value="lib502">lib502</option>
<option value="lib503">lib503</option>
<option value="lib504">lib504</option>
<option value="lib505">lib505</option>
<option value="lib506">lib506</option>
<option value="lib507">lib507</option>
<option value="lib508">lib508</option>
<option value="lib509">lib509</option>
<option value="lib510">lib510</option>
<option value="lib511">lib511</option>
<option value="lib512">lib512</option>
<option value="lib513">lib513</option>
<option value="lib514">lib514</option>
<option value="lib515">lib515</option>
<option value="lib516">lib516</option>
<option value="lib517">lib517</option>
<option value="lib518">lib518</option>
<option value="lib519">lib519</option>
<option value="lib520">lib520</option>
<option value="lib521">lib521</option>
<option value="lib522">lib522</option>
<option value="lib523">lib523</option>
<option value="lib524">lib524</option>
<option value="lib525">lib525</option>
<option value="lib526">lib526</option>
<option value="lib527">lib527</option>
<option value="lib528">lib528</option>
<option value="lib529">lib529</option>
<option value="lib530">lib530</option>
<option value="lib531">lib531</option>
<option value="lib532">lib532</option>
<option value="lib533">lib533</option>
<option value="lib534">lib534</option>
<option value="lib535">lib535</option>
<option value="lib536">lib536</option>
<option value="lib537">lib537</option>
<option value="lib538">lib538</option>
<option value="lib539">lib539</option>
<option value="lib540">lib540</option>
<option value="lib541">lib541</option>
<option value="lib542">lib542</option>
<option value="lib543">lib543</option>
<option value="lib544">lib544</option>
<option value="lib545">lib545</option>
<option value="lib546">lib546</option>
<option value="lib547">lib547</option>
<option value="lib548">lib548</option>
<option value="lib549">lib549</option>
<option value="lib550">lib550</option>
<option value="lib551">lib551</option>
<option value="lib552">lib552</option>
<option value="lib553">lib553</option>
<option value="lib554">lib554</option>
<option value="lib555">lib555</option>
<option value="lib556">lib556</option>
<option value="lib557">lib557</option>
<option value="lib558">lib558</option>
<option value="lib559">lib559</option>
<option value="lib560">lib560</option>
<option value="lib561">lib561</option>
<option value="lib562">lib562</option>
<option value="lib563">lib563</option>
<option value="lib564">lib564</option>
<option value="lib565">lib565</option>
<option value="lib566">lib566</option>
<option value="lib567">lib567</option>
<option value="lib568">lib568</option>
<option value="lib569">lib569</option>
<option value="lib570">lib570</option>
<option value="lib571">lib571</option>
<option value="lib572">lib572</option>
<option value="lib573">lib573</option>
<option value="lib574">lib574</option>
<option value="lib575">lib575</option>
<option value="lib576">lib576</option>
<option value="lib577">lib577</option>
<option value="lib578">lib578</option>
<option value="lib579">lib579</option>
<option value="lib580">lib580</option>
<option value="lib581">lib581</option>
<option value="lib582">lib582</option>
<option value="lib583">lib583</option>
<option value="lib584">lib584</option>
<option value="lib585">lib585</option>
<option value="lib586">lib586</option>
<option value="lib587">lib587</option>
<option value="lib588">lib588</option>
<option value="lib589">lib589</option>
<option value="lib590">lib590</option>
<option value="lib591">lib591</option>
<option value="lib592">lib592</option>
<option value="lib593">lib593</option>
<option value="lib594">lib594</option>
<option value="lib595">lib595</option>
<option value="lib596">lib596</option>
<option value="lib597">lib597</option>
<option value="lib598">lib598</option>
<option value="lib599">lib599</option>
<option value="lib600">lib600</option>
<option value="lib601">lib601</option>
<option value="lib602">lib602</option>
<option value="lib603">lib603</option>
<option value="lib604">lib604</option>
<option value="lib605">lib605</option>
<option value="lib606">lib606</option>
<option value="lib607">lib607</option>
<option value="lib608">lib608</option>
<option value="lib609">lib609</option>
<option value="lib610">lib610</option>
<option value="lib611">lib611</option>
<option value="lib612">lib612</option>
<option value="lib613">lib613</option>
<option value="lib614">lib614</option>
<option value="lib615">lib615</option>
<option value="lib616">lib616</option>
<option value="lib617">lib617</option>
<option value="lib618">lib618</option>
<option value="lib619">lib619</option>
<option value="lib620">lib620</option>
<option value="lib621">lib621</option>
<option value="lib622">lib622</option>
<option value="lib623">lib623</option>
<option value="lib624">lib624</option>
<option value="lib625">lib625</option>
<option value="lib626">lib626</option>
<option value="lib627">lib627</option>
<option value="lib628">lib628</option>
<option value="lib629">lib629</option>
<option value="lib630">lib630</option>
<option value="lib631">lib631</option>
<option value="lib632">lib632</option>
<option value="lib633">lib633</option>
<option value="lib634">lib634</option>
<option value="lib635">lib635</option>
<option value="lib636">lib636</option>
<option value="lib637">lib637</option>
<option value="lib638">lib638</option>
<option value="lib639">lib639</option>
<option value="lib640">lib640</option>
<option value="lib641">lib641</option>
<option value="lib642">lib642</option>
<option value="lib643">lib643</option>
<option value="lib644">lib644</option>
<option value="lib645">lib645</option>
<option value="lib646">lib646</option>
<option value="lib647">lib647</option>
<option value="lib648">lib648</option>
<option value="lib649">lib649</option>
<option value="lib650">lib650</option>
<option value="lib651">lib651</option>
<option value="lib652">lib652</option>
<option value="lib653">lib653</option>
<option value="lib654">lib654</option>
<option value="lib655">lib655</option>
<option value="lib656">lib656</option>
<option value="lib657">lib657</option>
<option value="lib658">lib658</option>
<option value="lib659">lib659</option>
<option value="lib660">lib660</option>
<option value="lib661">lib661</option>
<option value="lib662">lib662</option>
<option value="lib663">lib663</option>
<option value="lib664">lib664</option>
<option value="lib665">lib665</option>
<option value="lib666">lib666</option>
<option value="lib667">lib667</option>
<option value="lib668">lib668</option>
<option value="lib669">lib669</option>
<option value="lib670">lib670</option>
<option value="lib671">lib671</option>
<option value="lib672">lib672</option>
<option value="lib673">lib673</option>
<option value="lib674">lib674</option>
<option value="lib675">lib675</option>
<option value="lib676">lib676</option>
<option value="lib677">lib677</option>
<option value="lib678">lib678</option>
<option value="lib679">lib679</option>
<option value="lib680">lib680</option>
<option value="lib681">lib681</option>
<option value="lib682">lib682</option>
<option value="lib683">lib683</option>
<option value="lib684">lib684</option>
<option value="lib685">lib685</option>
<option value="lib686">lib686</option>
<option value="lib687">lib687</option>
<option value="lib688">lib688</option>
<option value="lib689">lib689</option>
<option value="lib690">lib690</option>
<option value="lib691">lib691</option>
<option value="lib692">lib692</option>
<option value="lib693">lib693</option>
<option value="lib694">lib694</option>
<option value="lib695">lib695</option>
<option value="lib696">lib696</option>
<option value="lib697">lib697</option>
<option value="lib698">lib698</option>
<option value="lib699">lib699</option>
<option value="lib700">lib700</option>
<option value="lib1">lib1</option>
<option value="lib2">lib2</option>
<option value="lib3">lib3</option>
<option value="lib4">lib4</option>
<option value="lib5">lib5</option>
<option value="lib6">lib6</option>
<option value="lib7">lib7</option>
<option value="lib8">lib8</option>
<option value="lib9">lib9</option>
<option value="lib10">lib10</option>
<option value="lib11">lib11</option>
<option value="lib12">lib12</option>
<option value="lib13">lib13</option>
<option value="lib14">lib14</option>
<option value="lib15">lib15</option>
<option value="lib16">lib16</option>
<option value="lib17">lib17</option>
<option value="lib18">lib18</option>
<option value="lib19">lib19</option>
<option value="lib20">lib20</option>
<option value="lib21">lib21</option>
<option value="lib22">lib22</option>
<option value="lib23">lib23</option>
<option value="lib24">lib24</option>
<option value="lib25">lib25</option>
<option value="lib26">lib26</option>
<option value="lib27">lib27</option>
<option value="lib28">lib28</option>
<option value="lib29">lib29</option>
<option value="lib30">lib30</option>
<option value="lib31">lib31</option>
<option value="lib32">lib32</option>
<option value="lib33">lib33</option>
<option value="lib34">lib34</option>
<option value="lib35">lib35</option>
<option value="lib36">lib36</option>
<option value="lib37">lib37</option>
<option value="lib38">lib38</option>
<option value="lib39">lib39</option>
<option value="lib40">lib40</option>
<option value="lib41">lib41</option>
<option value="lib42">lib42</option>
<option value="lib43">lib43</option>
<option value="lib44">lib44</option>
<option value="lib45">lib45</option>
<option value="lib46">lib46</option>
<option value="lib47">lib47</option>
<option value="lib48">lib48</option>
<option value="lib49">lib49</option>
<option value="lib50">lib50</option>
<option value="lib51">lib51</option>
<option value="lib52">lib52</option>
<option value="lib53">lib53</option>
<option value="lib54">lib54</option>
<option value="lib55">lib55</option>
<option value="lib56">lib56</option>
<option value="lib57">lib57</option>
<option value="lib58">lib58</option>
<option value="lib59">lib59</option>
<option value="lib60">lib60</option>
<option value="lib61">lib61</option>
<option value="lib62">lib62</option>
<option value="lib63">lib63</option>
<option value="lib64">lib64</option>
<option value="lib65">lib65</option>
<option value="lib66">lib66</option>
<option value="lib67">lib67</option>
<option value="lib68">lib68</option>
<option value="lib69">lib69</option>
<option value="lib70">lib70</option>
<option value="lib71">lib71</option>
<option value="lib72">lib72</option>
<option value="lib73">lib73</option>
<option value="lib74">lib74</option>
<option value="lib75">lib75</option>
<option value="lib76">lib76</option>
<option value="lib77">lib77</option>
<option value="lib78">lib78</option>
<option value="lib79">lib79</option>
<option value="lib80">lib80</option>
<option value="lib81">lib81</option>
<option value="lib82">lib82</option>
<option value="lib83">lib83</option>
<option value="lib84">lib84</option>
<option value="lib85">lib85</option>
<option value="lib86">lib86</option>
<option value="lib87">lib87</option>
<option value="lib88">lib88</option>
<option value="lib89">lib89</option>
<option value="lib90">lib90</option>
<option value="lib91">lib91</option>
<option value="lib92">lib92</option>
<option value="lib93">lib93</option>
<option value="lib94">lib94</option>
<option value="lib95">lib95</option>
<option value="lib96">lib96</option>
<option value="lib97">lib97</option>
<option value="lib98">lib98</option>
<option value="lib99">lib99</option>
<option value="lib100">lib100</option>

  </select>
  <button (click)="navigate()" style="padding: 8px; margin: 4px; border: 1px solid gray; border-radius: 1em;">Navigate</button>
</div>
<router-outlet></router-outlet>
<app-nx-welcome></app-nx-welcome>
